@model IEnumerable<PT.Models.Project>

@{
    ViewBag.Title = "ViewProject";
}

<h2>View Project</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.StaffNumber)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.StudentNumber)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.StaffNumber)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectNumber })
        </td>
    </tr>
}

</table>
